/*CSS Reset*/
*{
  padding: 0px;
  margin: 0 auto;
}
#pageContainer{
  width: 970px;
  font-family: 'Khula',Arial, sans-serif;
  position: relative;
}
#globeLogo{
  height: 80px;
  position: absolute;
  left: 5px;
}
h1{
  height: 60px;
  line-height: 75px;
  font-size: 2.5em;
  padding-left: 85px;
  color: #474747;
}
h1 span{
  color: #26669c;
}
h2{
  height: 60px;
  line-height: 65px;
  font-size: 1.7em;
  padding-left: 15px;
  background: linear-gradient(#29689d,#5484ab,#29689d);
  color: white;
}
#contentContainer{
  background: linear-gradient(#e4e4e4,#ffffff);
}
#sideBar{
  width: 200px;
  vertical-align: top;
  display: inline-block;
}
#question{
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 5px 5px 5px;
}
#question span{
  color: red;
}
#answer{
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 5px 10px 5px;
}
#answer span{
  color: #2f6ca0;
}
#btn1, #btn2{
  width: 180px;
  height: 30px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  color: white;
}
#btn1{
  background-color: #447ead;
  background: linear-gradient(#6599c1,#2b689c);
  margin: 20px 10px 5px 10px;
}
#btn2{
  background-color: #eaa24d;
  background: linear-gradient(#ebb56d,#ee7403);
  margin: 5px 10px 30px 10px;
}
#sideBarLine{
  width: 190px;
  height: 1px;
  background: #b6b6b6;
  margin: 30px 5px;
}
#sideBarAd{
  height: 300px;
  margin: 5px;
  background-image: url("images/ad_background.png");
  overflow: hidden;
  text-align: center;
}
#adP{
  color: white;
  font-size: 1.3em;
  margin: 10px 10px 5px 10px;
}
#ninja{
  height: 100px;
  margin: 10px 10px 20px 10px;
}
#adBtn{
  width: 150px;
  height: 25px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  background-color: #04bbd7;
  background: linear-gradient(#7cd0de,#04bbd7);
  box-shadow: 1px 1px grey;
  color: white;
}
#mainContent{
  width: 705px;
  height: 10px;
  vertical-align: top;
  display: inline-block;
  margin-left: 60px;
  margin-right: 5px;
}
#home{
  height: 25px;
  margin: 10px 5px;
}
#dns{
  display: inline-block;
  vertical-align: top;
  font-size: 1.4em;
  line-height: 55px;
  color: #3f76a5;
}
#contact{
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 5px 380px;
}
#phone{
  height: 65px;
  margin: 5px 0;
}
#numbers{
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.nonMain{
  font-size: 0.75em;
  line-height: 1.5em;
  color: #888888;
}
#mainContactNumber{
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  color: #00c0dd;
}
#mainContentLine{
  height: 1px;
  background: #b6b6b6;
  margin: 0px 10px;
}
#mainContent h3{
  font-style: bold;
  font-size: 1.3em;
  color: #316da1;
}
#mainContent ul{
  padding-left: 20px;
}
#mainContent p span, li span {
  color: #19a0b4;
  font-weight: bold;
}
.buffer{
  display: inline-block;
  width: 195px;
}
#client_server{
  display: inline-block;
  margin: 10px auto;
  width: 300px;
}
ol li{
  margin-left: 20px;
}
#clientsAndServers p, #clientsAndServers li, #whatHappens p, #whatHappens li{
  font-size: 0.85em;
}
#big3{
  margin: 10px 5px 0 0;
  border: 5px solid #0087dd;
}
#three{
  height: 125px;
  margin: 5px;
}
#big3p{
  width: 500px;
  vertical-align: top;
  display: inline-block;
  margin: 5px;
}
